
.div-cell {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  padding: 8px;
  margin: 4px;
  text-align: center;
  background-color: #f1f1f1;
  width: 6rem;
  height: 6rem;
}

.div-grid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  padding: 16px;
  margin: 8px;
  text-align: center;
  background-color: var(--green);
}

.grid-schedule {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100%;
  align-items: start;
}
