.temaSesionItemContainer{
    width: 100%;
    margin-bottom: 0.5rem;
}

.nameTemaSesionItemContainer{
    background-color: rgb(229, 229, 229);
    min-height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.temaSesionItemContainer p{
    color:black;
    margin-top:auto;
    margin-bottom:auto;
    font-family: 'madaniArabicBold';
    width: 90%;
    text-align: left;
}

.subtitlesItemContainer{
    background-color: rgb(229, 229, 229);
    height: auto; 
    margin-top: -0.5rem;
    padding-left: 5rem;
    padding-right: 2rem;
    margin-top: -1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}



.modalFileItemContainer{
    font-family: 'madaniArabicLight';
    text-align: left;
    margin-top: 1rem;
}

.modalFileItemContainer a{
    outline: none;
    text-decoration: none;
    color:black;
    font-size: 1rem;
    font-family: 'madaniArabicLight';
    margin-top: 1rem;

}
.modalFileItemContainer a:hover{
    outline: none;
    text-decoration: none;
    color:var(--green);
    font-family: 'madaniArabicLight';
}