.ReactModal__Content .mainLogInContainer {
  padding-top: 1rem;
  text-align: center;
}

.requerido {
  color: red;
  font-weight: bold;
  position: fixed;
  top: inherit;
  right: 0;
  bottom: inherit;
  left: 0;
}

.numerico {
  width: inherit;
  position: fixed;
  right: inherit;
  left: inherit;
}

.title {
  font-weight: bold;
}

.new-career_input {
  margin-top: 3rem;
}

.new-career_input label {
  font-weight: bold;
}

.new-career_input .inputWithButton input {
  border: 1.5px solid #00A29A;
}

.new-career_input .inputWithButton input:focus {
  outline: 1.5px solid #00A29A;
}

.numbers_input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.numbers_input div {
  text-align: center;
  width: 200px;
}

.numbers_input div input{
  width: 66px;
}

.buttons {
  align-self: flex-end;
  margin-top: 220px;
  margin-bottom: 2rem;
  margin-right: 2rem;
  text-align: end;
}

.buttons button {
  border: 1px solid #fff;
  padding: .3rem 2rem;
}

.buttons button:nth-child(1) {
  background-color: #A20000;
  margin-right: 1rem;
}