.modal_new-career {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.title {
  margin-top: 2rem;
}

.new-career_input {
  margin-top: 3rem;
}

.numbers_input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.numbers_input div {
  text-align: center;
  width: 200px;
}

.numbers_input div input{
  width: 66px;
}

.buttons {
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 2rem;;
  margin-right: 2rem;
}

.buttons button {
  border: 1px solid #fff;
  padding: .3rem 2rem;
}

.buttons button:nth-child(1) {
  background-color: #A20000;
  margin-right: 1rem;
}