.primaryButton{
    background-color:var(--green);
    outline: none;
    border: none;
    width: auto;
    height: auto;
    color:white;
    border-radius: 15px;
    font-family:'KB-Bold';
    cursor: pointer;
}

.primaryButton:hover{
    opacity: 0.8;
}

.primaryButton p{
    margin: 0;
    padding:10px;
    font-size: 1.5em;
}

/************************************************************************/
:root{
    --white:#FFFFFF;
    --fontsize: 18px;
    --fcolorblue: #00A29A;
    --fcolorred: #A20000;
    --width: 200px;
    --height: auto;
    --borderradius: 15px;
    --font:'KB-Bold';
    --margin: 25px;
    --cursor: pointer;
    --whiteborder: solid 2px white
}

span{
    color: var(--white);
}

.contenedortest{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}



.buttonPrimarySucces{
    background-color: var(--fcolorblue);
    width: var(--width);
    height: var(--height);
    color: var(--white);
    font-size: var(--fontsize);
    border-radius: var(--borderradius);
    font-family:var(--font);
    cursor: var(--cursor);
    margin: var(--margin);
}


.buttonPrimaryCancel{
    background-color: var(--fcolorred);
    width: var(--width);
    height: var(--height);
    color: var(--white);
    font-size: var(--fontsize);
    border-radius: var(--borderradius);
    font-family:var(--font);
    cursor: var(--cursor);
    margin: var(--margin);
}