.rememberAccountCheckBoxContainer{
    width: 100%;
    display:flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 0%;
    font-family: 'KB-Medium';
    
}


.rememberAccountCheckBoxContainer input[type="checkbox"]{
/*.rememberAccountCheckBoxContainer input.checked{*/
    accent-color: var(--green);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);

    margin: 10px;   
    appearance: none;
    content: "";
	width: 21px;
	height: 21px;
	float: left;
    border-radius: 3px;
	border: 1px solid #00A29A ;
	background: #fff ;
    cursor: pointer;
}

.rememberAccountCheckBoxContainer input:checked{
/*.rememberAccountCheckBoxContainer input.checked:checked{*/
    accent-color: var(--green);
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    transform: scale(1.3);
    
    margin:10px;   
    content: "";
    width: 21px;
    height: 21px;
    float: left;
    appearance: none;
    border-radius: 3px;
    border: 1px solid #fff;
    background: #00A29A;
    outline: none;
    cursor: pointer;
    }


.rememberAccountText{
    align-items: center;
    color: var(--grey);
    font-family:'KB-Bold';
    font-size: 1.1em;
}

