.loginContainer{
    background-color: var(--navyBlue);
    display: flex;
}

#colorSquaresImg{
    width: 15%;
    margin: auto;
}


.formsLoginContainer{
    width: 50%;
    display: inline-block;
}