*{
    box-sizing: border-box;
    font-family: 'KB-Light';
    margin:     0;
    padding:    0;
}

body{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.container-inputs{
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
}

.container-inputs .input-search{
    width: 480px;
}

.container{
    background: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 438px;
    overflow: auto;
    padding-top: 40px;
    width: 1300px;
}

.container::-webkit-scrollbar{
    width: 10px;
}

.container::-webkit-scrollbar-thumb{
    background: var(--grey);
    border-radius: 10px;
} 