.assignatureCell {
    box-shadow: 0 4px 8px 0 #00000033;
    width:100px;
    height: 100px;
    box-sizing: content-box;
    padding: 16px;
    margin: 8px;
    text-align: center;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  .assignatureCell:hover{
    color:red;
  }