.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root{
  /* --green:#00A29A;
  
  --grey:#6D6E71;
  --red:#A20000; */
  
  --gold:#A7823B;
  --navyBlue:#33179c;
  --blue:#308fff;
  --green:#54c98f;
  --red:#ff4d63;
  --orange:#ffae31;
  --grey:#d8d8d8;
  
}


@font-face {
  font-family: 'madaniArabicBlack';
  src:local("MadaniArabicBlack"), url('./Assets/Fonts/Madani-Arabic-Black.ttf') ;
}

@font-face {
  font-family: 'madaniArabicBold';
  src:local("MadaniArabicBlack"), url('./Assets/Fonts/Madani-Arabic-Bold.ttf') ;
}

@font-face {
  font-family: 'madaniArabicExtraBold';
  src:local("MadaniArabicBlack"), url('./Assets/Fonts/Madani-Arabic-Extra-Bold.ttf') ;
}

@font-face {
  font-family: 'madaniArabicExtraLight';
  src:local("MadaniArabicBlack"), url('./Assets/Fonts/Madani-Arabic-Extra-Light.ttf') ;
}

@font-face {
  font-family: 'madaniArabicLight';
  src:local("MadaniArabicBlack"), url('./Assets/Fonts/Madani-Arabic-Light.ttf') ;
}

@font-face {
  font-family: 'madaniArabicMedium';
  src:local("MadaniArabicBlack"), url('./Assets/Fonts/Madani-Arabic-Medium.ttf') ;
}

@font-face {
  font-family: 'madaniArabicRegular';
  src:local("MadaniArabicBlack"), url('./Assets/Fonts/Madani-Arabic-Regular.ttf') ;
}

@font-face {
  font-family: 'madaniArabicSemiBold';
  src:local("MadaniArabicBlack"), url('./Assets/Fonts/Madani-Arabic-Semi-Bold.ttf') ;
}

@font-face {
  font-family: 'madaniArabicVariable';
  src:local("MadaniArabicBlack"), url('./Assets/Fonts/Madani-Arabic-Variable.ttf') ;
}

@font-face {
  font-family: 'madaniArabicBlack';
  src:local("MadaniArabicBlack"), url('./Assets/Fonts/Madani-Arabic-Black.ttf') ;
}

@font-face {
  font-family: 'KB-Bold';
  src:local("KohinoorBangla-Bold"), url('./Assets/Fonts/KohinoorBangla-Bold.otf') ;
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'KB-Light';
  src:local("KohinoorBangla-Light"), url('./Assets/Fonts/KohinoorBangla-Light.otf');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'KB-Medium';
  src: url('./Assets/Fonts/KohinoorBangla-Medium.otf') ;
}

@font-face {
  font-family: 'KB-Regular';
  src: url('./Assets/Fonts/KohinoorBangla-Regular.otf') ;
}

@font-face {
  font-family: 'KB-Semibold';
  src: url('./Assets/Fonts/KohinoorBangla-Semibold.otf') ;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
