.oneColGrid{
    
    display: grid;
    grid-template-columns: 100%;
}

.fourColGrid{
    display: grid;
    grid-template-columns:  25% 25% 25% 25%;
    text-align: center;
    margin-top: 15px;
}

.twoColGrid{
    display: grid;
    grid-template-columns:  50% 50%;
    text-align: center;
    margin-top: 25px;
}



.twoColGrid label {
    font-weight: bold;
}



h1{
    margin: auto;
    margin-top: 25px;
    font-size: 25px;
}

.label{
    text-align: center;
    margin-bottom:5px;
}

.input{
    width: max-content;
}

.inputContainer{
    margin-bottom: 15px;
}

.inputContainer label{
    font-size: 15px;
}

.div-buttons{
    margin: auto;
    float: right;
}

.redButton{
    background-color: red;
    margin: 15px;
    border-radius: 15px;
    height: 40px;
    width: 100px;
}

.transparentButton{
    background-color:transparent;
    margin: 15px;
    border-radius: 15px;
    height: 40px;
    width: 100px;
}


